@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0em;
  color: $text;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}

#App {
  $side_bar_width: 20em;
  // height: 100vh;
  background-color: $base-1;

  #SideWrapper {
    padding-top: 3em;
    position: fixed;
    left: 0px;
    width: $side_bar_width;
    height: 100vh;
  }

  #FollowWrapper {
    @extend #SideWrapper;
    left: unset;
    right: 0px !important;
    border-right: unset;
  }
}
